<launch>
  <include file="$(find tiago_gazebo)/launch/tiago_gazebo.launch">
		<arg name="world" value="objects_on_table"/>
        <arg name="end_effector" value="pal-gripper"/>
  </include>
  <include file="$(find homodeus_hbba_cfg)/launch/conf_nav_simul.launch"></include>
  <include file="$(find homodeus_hbba_cfg)/hbba_cfg_out/test.launch"></include>
</launch>
