<launch>
  <include file="$(find tiago_gazebo)/launch/tiago_gazebo.launch">
		<arg name="world" value="homodeus_office"/>
    <arg name="end_effector" value="pal-gripper"/>
  </include>
  <include file="$(find homodeus_hbba_cfg)/launch/conf_nav_simul.launch"></include>
  
  <node name="talking_action" pkg="homodeus_external" type="talking_action.py"/>
  <param name="on_robot" type="bool" value="False" />
  <!--<include file="$(find usb_cam)/launch/usb_cam-test.launch"></include>-->
  <include file="$(find homodeus_hbba_cfg)/hbba_cfg_out/homodeus.launch"></include>

  <!--include file="$(find homodeus_hbba_cfg)/launch/proc_face_detection.launch"></include>-->

</launch>
